# --- IGNORE EVERYTHING IN REPO ROOT ---
/*

# --- BUT KEEP (WHITELIST) ---
!.gitignore

!/icon/
!/icon/**

!/larix_nexus/
!/larix_nexus/**

!/main.py
!/telegram_bot/
!/telegram_bot/**

!/Инструкция Larix Nexus Dekstop.docx
